<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaket.hospitalmanagementsystem.mapper.AdminMapper">

    <insert id="insertAdmin">
        insert into admin
        (
        name,
        username,
        mobile,
        email,
        password
        )
        values
        (
        #{admin.name},
        #{admin.username},
        #{admin.mobile},
        #{admin.email},
        #{admin.password}
        )
    </insert>

    <select id="getAdmin" resultType="com.aaket.hospitalmanagementsystem.entity.Admin">
        select
        name,
        username,
        mobile,
        email
        from admin
        where 1 = 1
    </select>

    <select id="isValid" resultType="integer">
        select count(1)
        from ${login.userType}
        where
        username = #{login.username}
        and password = #{login.password}
    </select>

</mapper>
