<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaket.hospitalmanagementsystem.mapper.DoctorMapper">

    <insert id="insertDoctor">
        insert into doctor
        (
        name,
        username,
        email,
        mobile,
        age,
        exp_year,
        specialisation,
        qualification,
        aadhar_no,
        password
        )
        values
        (
        #{doctor.name},
        #{doctor.username},
        #{doctor.email},
        #{doctor.mobile},
        #{doctor.age},
        #{doctor.expYear},
        #{doctor.specialisation},
        #{doctor.qualification},
        #{doctor.aadharNo},
        #{doctor.password}
        )
    </insert>

    <select id="getDoctor" resultType="com.aaket.hospitalmanagementsystem.entity.Doctor">
        select
        name,
        username,
        email,
        mobile,
        age,
        exp_year,
        specialisation,
        qualification,
        aadhar_no
        from doctor
        where 1 = 1
    </select>

</mapper>
